{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_alerts.html' %}

<div class="row">
    <div class="col-lg-12">
        <form action="" method="GET">
            <div class="row">
                {% csrf_token %}
                {{ myFilters.form.as_p }}
               <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>        
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify icon"></i><h2> Payment List</h2></div>
            <div class="card-body">     
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Month</th>
                            <th>Academic Session</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for accounting in accounting %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ accounting.name }}</td>
                                <td>{{ accounting.class_type }}</td>
                                <td>{{ accounting.month }}</td>
                                <td>{{ accounting.session }}</td>
                                    <td>
                                        {% if accounting.status.status_name == 'Unpaid' %}
                                        <form action="{% url 'change_status' student_status_id=accounting.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="div">
                                                <button type="submit" class="btn btn-outline-primary">{{ accounting.status }}</button>
                                            </div>
                                        </form>
                                        {% else %}
                                            {{ accounting.status }}
                                        {% endif %}
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if accounting.has_other_pages %}
            <ul class="pagination">
                {% if students.has_previous %}
                    <li class="page-item">
                        <a href="?page={{accounting.previous_page_number}}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                {% endif %}
                {% for i in accounting.paginator.page_range %}
                    {% if accounting.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if accounting.has_next %}
                    <li class="page-item">
                        <a href="?page={{accounting.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
<style>
     h2{
        color: #fff;
        
    }
    .card-header{
        background-color: #63c2de;
        border-radius: 10px 10px 0 0;
    }
    .card{
        border-radius: 20px;
    }
    .icon{
        color: #fff;
        text-align: center;
    }
    .btn{
        margin-left: 1rem;
        border-radius: 5px;
    }
</style>
{% endblock %}