{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_alerts.html' %}

<div class="card">
    <div class="card-header">
        <h2>Teacher Entry Form</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="name"><b>Name</b></label>
                {{ forms.name }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="email"><b>Email</b></label>
                {{ forms.email }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="age"><b>Age</b></label>
                {{ forms.age }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="gender"><b>Gender</b></label>
                {{ forms.gender }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="teacher_img"><b>Teacher Image</b></label>
                {{ forms.teacher_img }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="passing_year"><b>Passing Year</b></label>
                {{ forms.passing_year }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="joining_date"><b>Joining Date</b></label>
                {{ forms.joining_date }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="dept_type"><b>Department</b></label>
                {{ forms.dept_type }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="sub_type"><b>Sub Section</b></label>
                {{ forms.sub_type }}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="salary"><b>Salary</b></label>
                {{ forms.salary }}
            </div>
        </div><br>   
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
</div>
<style>
    h2{
        text-align: center;
        color: white;
    }
    .card-header{
        background-color: #63c2de;
        border-radius: 10px 10px 0 0;
    }
    .card{
        border-radius: 20px;
    }
    .btn{
        border-radius: 5px;
    }
</style>
{% endblock %}

